{% extends 'STAFF/staff_index.html'%}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/s_buspost/">
    {% csrf_token %}
    <h3 align="center">BUS DETAILS</h3>
  <table width="200" border="1" class="table table-bordered">
    <tr>
      <th scope="col">BUS NO</th>
      <th scope="col"><input type="text" name="textfield" id="textfield" required /></th>
    </tr>
    <tr>
      <tr>
      <th scope="col">PLACE</th>
      <th scope="col"><input type="text" name="textfield1" id="textfield1" required /></th>
    </tr>
  </table>
   <tr>
          <input type="submit" class="btn btn-success" name="button" id="button" value="ADD" />
   </tr>
</form>
{% endblock %}
