{% extends 'STAFF/staff_index.html'%}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/s_viewgallerypost/">
{% csrf_token %}
<h3 align="center">VIEW GALLERY</h3>
  <table  border="1" class="table table-bordered">
    <tr>
      <th scope="col">FROM DATE</th>
      <th scope="col"><input type="date" name="textfield" id="textfield" /></th>
      <th scope="col">TO DATE</th>
      <th scope="col"><input type="date" name="textfield2" id="textfield2" /></th>
      <th scope="col"><input type="submit" class="btn btn-success" name="button" id="button" value="SEARCH" /></th>
    </tr>
  </table>
  <table border="1" class="table table-bordered">

    <tr>
      <th width="62" scope="col">S/NO</th>
      <th width="162" scope="col">DATE</th>
      <th width="225" scope="col">PHOTO</th>
      <th colspan="2" scope="col">ACTION</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>{{ i.date }}</td>
          <td><img src="{{i.image}}" height="100" width="100"/></td>
    <td width="44"><a href="/myapp/s_edgallery/{{ i.id }}#id">EDIT</a></td>
      <td width="81"><a href="/myapp/s_dltgallery/{{ i.id }}#id">DELETE</a></td>
          </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
