<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/s_viewdept/">View Department</a><br>
<a href="/myapp/s_viewcou/">View Course</a><br>
<a href="/myapp/s_viewprofile/">View Profile</a><br>
<a href="/myapp/s_viewstudent/">View Student</a><br>
<a href="/myapp/s_viewallo/">View Allocate</a><br>
<a href="/myapp/s_addgallery/">Add Gallery</a><br>
<a href="/myapp/s_viewgallery/">View Gallery</a><br>
<a href="/myapp/s_addsfacility/">Add Facility</a><br>
<a href="/myapp/s_viewfacility/">View Facility</a><br>
<a href="/myapp/s_viewschedule/">View Schedule</a><br>
<a href="/myapp/s_viewsupport/">View Support</a><br>
<a href="/myapp/s_sendcmplnt/">Send Complaint</a><br>
<a href="/myapp/s_viewrply/">View Reply</a><br>
<a href="/myapp/s_sendfeed/">Send Feedback</a><br>
<a href="/myapp/s_addevent/">Add Event</a><br>
<a href="/myapp/s_viewevent/">View Event</a><br>
<a href="/myapp/s_bus/">Add Bus Details</a><br>
<a href="/myapp/viewbus/">View Bus Details</a><br>
<a href="/myapp/changepass/">Change Password</a><br>
<a href="/myapp/login/">Logout</a><br>
</body>
</html>









