{% extends 'ADMIN/admin_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/addhostel_post/">
    {% csrf_token %}
    <h3 align="center">ADD HOSTEL FACILITY</h3>
  <table border="1" class="table table-bordered">
    <tr>
      <th scope="col">FACILITY</th>
      <th scope="col"><input type="text" class="form-control" name="textfield" id="textfield" required/>

      </th>
    </tr>
   <tr>
      <th scope="col">DESCRIPTION</th>
      <th scope="col"><input type="text" class="form-control" name="textfield1" id="textfield1" required/>
      </th>
    </tr></table>
    <tr>
        <input type="submit" class="btn btn-success" name="button" id="button" value="ADD" />
    </tr>

</form>
{% endblock %}
