{% extends 'ADMIN/admin_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/addept_post/">
    {% csrf_token %}
    <h3 align="center">ADD DEPARTMENT </h3>
  <table width="200" border="1" class="table table-bordered">
    <tr>
      <td>DEPARTMENT</td>
      <td><input type="text" class="form-control" name="textfield" id="textfield"  pattern="[A-Z a-z]*" required /></td>
    </tr>  </table>

    <tr>
      <input type="submit" name="button" id="button" value="ADD" class="btn btn-success" />
    </tr>
</form>
{% endblock %}