<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/addept/">Add Department</a><br>
<a href="/myapp/viewdept/">View Department</a><br>
<a href="/myapp/addcourse/">Add Course</a><br>
<a href="/myapp/viewcou/">View Course</a><br>
<a href="/myapp/addsub/">Add Subject</a><br>
<a href="/myapp/viewsub/">View Subject</a><br>
<a href="/myapp/addstaff/">Add Staff</a><br>
<a href="/myapp/viewstaff/">View Staff</a><br>
<a href="/myapp/addstudent/">Add Student</a><br>
<a href="/myapp/viewstu/">View Student</a><br>
<a href="/myapp/allostaff/">Add Allocate</a><br>
<a href="/myapp/viewallo/">View Allocate</a><br>
{#<a href="/myapp/gallery/">Add Gallery</a><br>#}
<a href="/myapp/viewgallary/">View Gallery</a><br>
<a href="/myapp/addfacility/">Add Facility</a><br>
<a href="/myapp/viewfacility/">View Facility</a><br>
<a href="/myapp/addschedule/">Add Schedule</a><br>
<a href="/myapp/viewschedule/">View Schedule</a><br>
<a href="/myapp/addsupport/">Add Support</a><br>
<a href="/myapp/viewsuprt/">View Support</a><br>
<a href="/myapp/viewcmpnt/">View Complaint</a><br>
<a href="/myapp/feedback/">View Feedback</a><br>
<a href="/myapp/viewevent/">View Events</a><br>
<a href="/myapp/addhostel/">Add hostel facility</a><br>
<a href="/myapp/viewhostel/">View hostel facility</a><br>
<a href="/myapp/login/">Logout</a><br>
</body>
</html>









