{% extends 'ADMIN/admin_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/edstud_post/">
    {% csrf_token %}
<input type="hidden" name="id" id="textfield" value="{{ data.id }}" />
  <table width="200" border="1" class="table table-bordered">
  <tr>
      <th scope="col">PROGRAMME</th>
   <th scope="col">
        <select name="select" id="select" >
          {% for i in data1 %}
          <option value="{{ i.id }}" {% if i.id == data.COURSE.id %} selected {% endif %} >{{ i.coursename }}</option>
          {% endfor %}
        </select></th></tr>
    <tr>
      <td>ADMN.NO</td>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2"value="{{ data.admissionNo }}" required /></td>
    </tr>
    <tr>
      <td>NAME</td>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.name }}"  pattern="[A-Z a-z]*" required /></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><label for="textfield4"></label>
      <input type="date" name="textfield4" id="textfield4" value="{{ data.dob|date:'Y-m-d' }}" required/></td>
    </tr>
    <tr>
      <td>PLACE</td>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" value="{{ data.place }}" required/></td>
    </tr>
    <tr>
      <td>E-MAIL</td>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" value="{{ data.email }}" type="email" required/></td>
    </tr>
    <tr>
      <td>PHONE</td>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" value="{{ data.phone }}" pattern="[6-9][0-9]{9}" required/></td>
    </tr>
    <tr>
      <td>PIN</td>
      <td><label for="textfield8"></label>
      <input type="text" name="textfield8" id="textfield8" value="{{ data.pin }}" pattern="[0-9]{6}" required/></td>
    </tr>
    <tr>
      <td><label for="textfield9"></label> </table>
      <input type="submit" name="button" id="button" class="btn btn-success" value="UPDATE" />
</form>
{% endblock %}