{% extends 'ADMIN/admin_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/viewcou_post/">
{% csrf_token %}
<h3 align="center">VIEW PROGRAMME</h3>

      <th width="86" scope="col">PROGRAMME</th>
      <th width="174" scope="col"><input type="text" name="textfield" id="textfield" /></th>
      <th width="106" scope="col"><input type="submit" class="btn btn-success" name="button" id="button" value="SEARCH" /></th>
    </tr>
  </table>
  <table width="618" border="1" class="table table-bordered">
    <tr>
      <th width="47" scope="col">S/NO</th>
      <th width="145" scope="col">DEPARTMENT</th>
      <th width="159" scope="col">PROGRAMME NAME</th>
      <th width="106" scope="col">SEM</th>
      <th width="44" scope="col">&nbsp;</th>
      <th width="77" scope="col">&nbsp;</th>
    </tr>
       {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.DEPARTMENT.departmentname }}</td>
        <td>{{ i.coursename }}</td>
        <td>{{ i.semester }}</td>
      <td><a href="/myapp/edcourse/{{ i.id }}#id">EDIT</a></td>
      <td><a href="/myapp/delcourse/{{ i.id }}#id">DELETE</a></td>
        {% endfor %}
    </tr>
  </table>
</form>
{% endblock %}
