<html>
<head xmlns="http://www.w3.org/1999/html">





</head>

<body>


        <h3 class="no-browser-support">Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This Demo In Google Chrome.</h3>


                    <textarea id="note-textarea" name="textarea" placeholder="Create a new note by typing or using voice recognition." rows="6">{{ data }}</textarea>


                    <button id="start-record-btn" class="btn-success" title="Start Recording">Start Recognition</button>
                    <button id="pause-record-btn" class="btn-warning" title="Pause Recording">Pause Recognition</button>

                    <p id="recording-instructions">Press the



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/file/js/script.js"></script>

</body>
</html>
