<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/p_viewdept/">View Department</a><br>
<a href="/myapp/chat1/">AI ChatBot</a><br>
<a href="/myapp/p_viewcource/">View Course</a><br>
<a href="/myapp/p_viewstaff/">View Staff</a><br>
<a href="/myapp/p_viewsub/">View Subject</a><br>
<a href="/myapp/p_viewgallery/">View Gallery</a><br>
<a href="/myapp/p_viewfacility/">View Facility</a><br>
<a href="/myapp/p_viewschedule/">View Schedule</a><br>
<a href="/myapp/p_viewsupport/">View Support</a><br>
<a href="/myapp/p_sendfeedback/">Send Feedback</a><br>
<a href="/myapp/p_viewevent/">View Event</a><br>
<a href="/myapp/p_viewbus/">Transportation </a><br>
<a href="/myapp/p_sendfeedback/">Send Feedback </a><br>
<a href="/myapp/p_vfeedback/">View Feedback </a><br>
<a href="/myapp/p_viewhostel/">View hostel </a><br>
<a href="/myapp/login/">Login</a><br>
</body>
</html>









